.pubSiteSection {
    position: relative;
}

.titlePubSite {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 400;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

.cardTable {
    border-radius: 25px 25px 0px 0;
    background-color: rgb(246, 246, 246);
    padding: 56px 50px 56px 50px;
    margin: 43px 100px 0 100px;
}

/*  */
/*  */
/* responsive */
/*  */
/*  */

@media screen and (max-width: 1140px) {
    .cardTable {

        margin: 30px 50px 0 50px;
    }


}


@media screen and (max-width: 950px) {
    .titlePubSite {
        font-size: 30px;
    }

    .cardTable {
        padding: 20px;

    }
}

@media screen and (max-width: 722px) {
    .titlePubSite {
        font-size: 24px;
    }

    .cardTable {

        margin: 30px 10px 0 10px;
    }
}

@media screen and (max-width: 500px) {
   

    .cardTable {

        margin: 0px 0px 0 0px;
        padding: 30px 10px 30px 10px;
        background-color: rgb(255, 255, 255);
    }

    
}