.presentation {
    display: flex;
    flex-direction: column;
    margin: 30px 100px 0 100px;
}

.titlePrincipal {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 36px;
    font-weight: 500;
    Line-height: 51.34px;
    padding-top: 5px;
}

.autor {
    width: min-content;
    Line-height: 25.67px;
    text-align: right;
}

.disc {
    width: 64px;
    border-radius: 50%;
}

.greyPoint {
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city {
    margin-bottom: 20px;
    margin-top: 3px;
}

.autor,
.city {
    font-size: 18px;
    font-weight: 500;
}

.global {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 10px;
}

.listStarOff {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.localisation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.renseignements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.note {
    display: flex;
    justify-content: space-between;
}



.containerGlobalAccordeon {
    margin: 30px 100px 30px 100px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.sliderContainer {
    height: 415px;
    overflow: hidden;
}

.slider {
    display: flex;
}

.slide {
    width: 100%;
    flex-grow: 1;
}

.details {
    background-color: blanchedalmond;
}

.equipementList {
    display: flex;
    flex-direction: column;
}

/*  */
/*  */
/* responsive */
/*  */
/*  */
@media screen and (max-width: 1140px) {

    .presentation,
    .containerGlobalAccordeon {
        margin: 30px 50px 30px 50px;
    }
}

@media screen and (max-width: 950px) {

    .global {
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .localisation {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 10px;
    }
}


@media screen and (max-width: 722px) {

    .presentation,
    .containerGlobalAccordeon {
        margin: 30px 10px 30px 10px;
    }

    .photo {
        width: 100%;
        height: 255px;
        object-fit: cover;
        border-radius: 10px;
    }
}

@media screen and (max-width: 479px) {

    .site {
        margin-left: 20px;
        margin-right: 20px;
    }

    .autor {
        width: 50px;
        font-size: 12px;
        line-height: 17.11px;
    }

    .city {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .disc {
        width: 32px;
    }

    .titlePrincipal {
        font-size: 18px;
        line-height: 25.67px;
    }

    .greyPoint {
        width: 110px;
    }

    .containerGlobalAccordeon {
        flex-direction: column;
    }

    .listStarOff {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
}

@media screen and (max-width: 407px) {

    .titlePrincipal {
        width: 80%;
        flex-wrap: wrap;
    }
}