.containerItems {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    width: 30%;
    background: rgb(255, 0, 0) linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    aspect-ratio: 1/1;
    height: auto;
    
    overflow: hidden;
    border-radius: 10px;
}

.imageCard {
    width: 100%;
    aspect-ratio: 1/1;
    height: auto;
    object-fit: cover;
    position: relative;
}

.title {
    width: 250px;
    /* height: 50px; */
    color: white;
    font-size: 18px;
    font-weight: 400;
    /* padding: 0 0 20px 20px; */
    line-height: 30px;
    position: sticky;
    left: ;
    top: ;
    z-index: 1;
    margin: 0 0 0 0;
    display: flex;
    flex-wrap: wrap;
}

/*  */
/*  */
/* responsive */
/*  */
/*  */
@media screen and (max-width: 950px) {
    .card {
        width: 47%;
        aspect-ratio: 1/1;
    }
}

@media screen and (max-width: 722px) {
    .card {
        width: 47%;
        aspect-ratio: 1/1;
    }
}

@media screen and (max-width: 580px) {
    .card {
        width: 100%;
        aspect-ratio: 1.4/1;
    }
}